--weights=192x15-2022_0418_1738_54_779.pb
--backend=cudnn-auto
--threads=2
--nncache=200000
--minibatch-size=256
--max-prefetch=32
--cpuct=2.15
--cpuct-at-root=2.15
--cpuct-base=18368.00
--cpuct-base-at-root=18368.00
--cpuct-factor=2.82
--cpuct-factor-at-root 2.82
--temperature=0.00
--tempdecay-moves=0
--temp-cutoff-move=0
--temp-endgame=0.00
--temp-value-cutoff=100.00
--temp-visit-offset=0.00
--verbose-move-stats=false
--fpu-strategy=reduction
--fpu-value=0.44
--fpu-strategy-at-root=same